@{
    ViewData["Title"] = "About us | Webease is based in Rainham Essex, specialising in building ecommerce websites, enterprise application and mobile applications.";
    ViewData["Description"] = "Webease is based in Rainham Essex specialising in building ecommerce websites and software applications that meet business needs. Webease endeavours to satisfy customers expectations by engaging them in a consultative process in order to get to the root of what the customer really needs. and hence provide quality software products that will fit into the business needs of its customers.";
}
<div class="body-content indexBackground">
    <div class="otherBackground">
    <div class="container">
    <div class="row section-container" itemscope itemtype="http://schema.org/WebPage">
        <article class="col-sm-6 col-sm-offset-3">
            <section>
                <h4 class="article-header">Background</h4>
                <hr>
                <p itemprop="about">
                    There are stories around of how hard it is to start a business, the struggle invloved in market awareness, the urgent time frames, the associated costs accompanied 
                    with different cost-cutting measures that oftentimes do not work. We have all been there. Webease inc was initiated out of the answer for this reoccurring problems 
                    in the early stage life-cycle of businesses and this defines @Html.ActionLink("What we do","mission").
                </p>
            </section>
            <section>
            <h4 class="article-header">Our Team</h4>
            <hr>
            <p itemprop="about">
                To achieve the main course of our purpose in our service delivery to your business, which is customer satisfaction and effectiveness, in conjucntion with 
                all the business functions that your business might require during its development life-cycle, which you may not be able to provide. We have taken this into consideration,
                and your needs are the architect of the structure of our team.

                Webease Inc comprises of Business consultants, finance professionals, Software developers, Web designers and Ecommerce Specilaist, that have come togehter to help in the development life-cycle and drive your business
                forward. Our harmony, in accordance with the substitution of our expertise for various business functions lacking in your business, is what makes us to be better at what we do.
            </p>
            <p>
                Do not hesitate to @Html.ActionLink("contact us","contact"). We will be happy to talk with you about your next project and <b>Build with Ease</b>.
            </p>
            </section>
        </article>
    </div>
    </div>
        </div>
</div>