
@{
    ViewData["Title"] = "Bookkeeping and Accounting";
    ViewData["Description"] = "We offer Bookkeeping and Accounting services to SMEs to save them unncessary costs and encourage the viabilty of their businesses";
}

<div class="body-content indexBackground">
    <div class="otherBackground">
<div class="container">
    <div class="row section-container" itemscope itemtype="http://schema.org/WebPage">
    <article class="col-sm-6 col-sm-offset-3">

        <p>
            The recent trends in finance industry, shows that SMEs are replacing some finance functions of their businesses with Bookkeepers, some even on job adverts prescribe the duties
            of bookkeepers to high ranked finance professions such as "Financial Controllers". Why? Because they could no longer afford the services of these high ranked finance professions and 
            employing the services of bookkeepers, who are not always onsite most times and the outsourcing of year-end accounts to accounting firms serves as good cost-cutting measures.
        </p>
        <p>
            We are in the business of building your business with ease and implemeting cost-cutting measures to ensure the viability of your business. Hence we offer Bookkeeping and
            Accounting services to SMEs onsite and remotely. The service we offer is affordable and effective, as a result of a team with experiences in accounting across multiple industries
            such as construction , grocery industry, not-for profit, media industry. We offer every facets of bookkeeping and accounting as a service, from processing invoices,
             accounts reconciliation, VAT returns to year end accounts preparations. We are familiar with most accounting systems
            Xero, Sage, Quickbooks.
        </p>
            
        <p>
            @Html.ActionLink("Contact Us now","Contact") if you need Bookkeeping and Accounting services. We might be able to make you a good offer, especially if you had subscribed to other services we offer.
        </p>
    </article>   
    </div>
</div>
</div>
</div>
