
@{
    ViewData["Title"] = "Webease - CaseStudies";
    ViewData["Description"] = "This page contains samples of how we have implemented our core values in order to help businesses build with ease";
}
<div class="body-content indexBackground">
    <div class="otherBackground">
<div class="container">
    <div class="row section-container" itemscope itemtype="http://schema.org/WebPage">
        <div class="col-sm-3">
            <ul class="mission-nav-links">
                <li class="mission-nav">A charity organisation</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-9">
                    <article>
                        <p>
                            Widows and Orphans International is a non-profit organisation, well known for its charity works in parts of East Africa (Kenya, Zambia, and Lesotho).
                            The organisation has its headquarters based in the United Kingdom and other branches in parts of East Africa, where it carries out most of its charity works.
                        </p>
                        <p>
                            Before the end of last year accounting period, Widows and Orphans International decided to make some employees redundant, this was a process of cost cutting
                            agreed by the management, since there was a reduction in the charitable funds the organisation used to receive. The IT manager was part of the employees made redundant.
                            Since his redundancy, the IT infrastructure has been fairly managed and sometimes during its breakdown, the organisation has had to utilise the services of volunteers and
                            onsultants, who are not on-site and takes days to reach sometimes. In conjunction with this issue of non-self-managed infrastructure, is the issue of costs charged by third –
                            party organisation for hosting plans, mail-exchange plans and domains. The outsourcing of this part of IT have shown its inadequacies; when one of the employees complained
                            for several weeks of receiving spam emails, one could not receive emails sent and for one, additional costs
                            had to be incurred in purchasing new mailbox space, since the old is full
                        </p>
                        <p>
                            By applying a Business Consultative approach, evidences shows that the presenting problem was not the real problem. However a new IT infrastructure was advised to be installed,
                            inline with the advise from an IT consultant and solves the cost issues associated with IT maintenance and infrastructure. The outcome of the consultation was later on embedded into the
                            restructuring strategy of the organisation.
                        </p>

                        <p>
                            For a detailed report about the consultation process and problem identified. @Html.ActionLink("Download the full report", "CaseStudies_Downloads")
                        </p>
                    </article>
                </div>
                <div class="col-sm-3">
                    <p class="mission-nav">Download Full Report <i class="fa fa-cloud-download" aria-aria-hidden="true"></i></p>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>
