
@{
    ViewData["Title"] = "WebEase | Web and Mobile Development";
    ViewData["Description"] = "We offer services of Web and Mobile Applications to SMEs as part of cost saving infrastructure or as a service on demand";
}
<div class="body-content indexBackground">
    <div class="otherBackground">
<div class="container">
    <div class="row section-container" itemscope itemtype="http://schema.org/WebPage">
     <aside class="col-sm-3">
         <ul>
             <li><a href="#">Recent Works</a></li>
             <li><a href="#">Services Offerred</a></li>
             <li><a href="#"></a></li>
         </ul>
     </aside>
    <article class="col-sm-6">
        <p>
            Building a webiste, web application or mobile application can take your business to places you never expected. A website serves as the image of your business, regardless of the size or scale of your business. Like it or not
            if a business is very small and have a beautiful website, there is a sense of revernce that wil be attched to it.
            Therefore building a good one that will effectively portray a good image of your business is essential. A web or mobile application can serve as tools bringing you closer your customers needs and can serve as tools 
            to replace some business functions to aid cost-cutting measures.
        </p>
        <p>
            We are in the business of building your business with ease. Hence, to cater for these sensitive part of your business, that portrays the image of your business, our team comprises of succulent 
            web and mobile developers and designers and SEO Content writers. We also provide SEO and analytics to keep track of the marketing segment of your website, web or mobile applications.
        </p>
        <p>
            @Html.ActionLink("Contact us now","Contact") if you need a website, web application or mobile application. We might be able to make you a good offer, especially if you had subscribed to other services we offer.
        </p>
    </article>
    </div>
</div>
    </div>
    </div>