<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta
      charset="UTF-8" />
    <title>The mouse in the lion's den</title>
    <meta
      name="Generator"
      content="PowerTools for Open XML" />
    <style>span { white-space: pre-wrap; }
p.pt-Normal {
    font-family: 'Arial', 'sans-serif';
    font-size: 21.5pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000000 {
    font-size: 21.5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000001 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-DefaultParagraphFont {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000002 {
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
table.pt-000003 {
    border-collapse: collapse;
    border: none;
    margin-bottom: .001pt;
}
td.pt-000004 {
    vertical-align: top;
    width: 62.1pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
p.pt-Normal-000005 {
    line-height: 150.0%;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
td.pt-000006 {
    vertical-align: top;
    width: 99.25pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000007 {
    vertical-align: top;
    width: 63.8pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000008 {
    vertical-align: top;
    width: 28.35pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000009 {
    vertical-align: top;
    width: 168.45pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000010 {
    vertical-align: top;
    width: 148.8pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000011 {
    vertical-align: top;
    width: 255.15pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000012 {
    vertical-align: top;
    width: 177.15pt;
    border-top: none;
    border-right: none;
    padding-right: 5.4pt;
    border-bottom: none;
    border-left: none;
    padding-left: 5.4pt;
    padding-top: 0;
    padding-bottom: 0;
}
td.pt-000013 {
    vertical-align: top;
    width: 168.45pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom-style: none;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
td.pt-000014 {
    vertical-align: top;
    width: 177.15pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom-style: none;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
p.pt-Normal-000015 {
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-DefaultParagraphFont-000016 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000017 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000018 {
    margin-right: 0.39in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: .001pt;
}
span.pt-Hyperlink {
    color: #0000FF;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000019 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    letter-spacing: 0;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000020 {
    font-size: 11pt;
    letter-spacing: 0;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-000021 {
    margin-left: 0.55in;
    text-indent: -0.28in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000022 {
    font-family: Symbol;
    font-size: 11pt;
    letter-spacing: 0;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.276in;
}
p.pt-Normal-000023 {
    margin-left: 0.28in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000024 {
    font-size: 11pt;
    letter-spacing: 0;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000025 {
    font-size: 11pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000026 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000027 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000028 {
    text-align: justify;
    font-family: 'Times New Roman', 'serif';
    font-size: 10pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000029 {
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000030 {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000031 {
    margin: 0 0 0 0.50in;
    padding: 0 0 0 0;
}
span.pt-000032 {
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000033 {
    text-align: center;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-DefaultParagraphFont-000034 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000035 {
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-000036 {
    margin-left: 0.50in;
    text-indent: -0.25in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000037 {
    font-family: Symbol;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.250in;
}
p.pt-Normal-000038 {
    text-indent: 0.50in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
p.pt-Normal-000039 {
    margin-left: 1.00in;
    text-indent: 0.50in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
table.pt-000040 {
    border-collapse: collapse;
    border: none;
    margin-left: 62.1pt;
    margin-bottom: .001pt;
}
td.pt-000041 {
    vertical-align: top;
    width: 203.05pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom-style: none;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
td.pt-000042 {
    vertical-align: top;
    width: 42.1pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom-style: none;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
p.pt-Normal-000043 {
    text-align: right;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
td.pt-000044 {
    vertical-align: top;
    width: 46.1pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom-style: none;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
td.pt-000045 {
    vertical-align: top;
    width: 42.1pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
td.pt-000046 {
    vertical-align: top;
    width: 42.1pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom-style: none;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
td.pt-000047 {
    vertical-align: top;
    width: 46.1pt;
    border-top-style: none;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
td.pt-000048 {
    vertical-align: top;
    width: 46.1pt;
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-right-style: none;
    padding-right: 5.4pt;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left-style: none;
    padding-left: 5.4pt;
}
span.pt-DefaultParagraphFont-000049 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000050 {
    font-size: 11pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000051 {
    line-height: 115.0%;
    margin-bottom: 10pt;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
p.pt-000052 {
    margin-left: 0.25in;
    text-indent: -0.25in;
    text-align: justify;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000053 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.250in;
}
p.pt-Normal-000054 {
    font-family: 'Times New Roman', 'serif';
    font-size: 10pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
p.pt-Normal-000055 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-DefaultParagraphFont-000056 {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000057 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000058 {
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-000059 {
    margin-left: 0.25in;
    text-indent: -0.25in;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000060 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.250in;
}
span.pt-DefaultParagraphFont-000061 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000062 {
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000063 {
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-000064 {
    font-family: Symbol;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.250in;
}
p.pt-Normal-000065 {
    margin-left: 0.50in;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
p.pt-Normal-000066 {
    margin-left: 0.25in;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-DefaultParagraphFont-000067 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
span.pt-DefaultParagraphFont-000068 {
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000069 {
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p.pt-Normal-000070 {
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
span.pt-000071 {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.pt-000072 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: 0;
    width: 0.250in;
}
span.pt-DefaultParagraphFont-000073 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p.pt-000074 {
    margin-left: 0.75in;
    text-indent: -0.25in;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt;
}
</style>
  </head>
  <body>
    <div>
      <p
        dir="ltr"
        class="pt-Normal">
        <span
          xml:space="preserve"
          class="pt-000000"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">The Robert Gordon University</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Aberdeen Business School</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <div
        align="left">
        <table
          dir="ltr"
          class="pt-000003">
          <tr>
            <td
              class="pt-000004">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  xml:space="preserve"
                  class="pt-DefaultParagraphFont">Session </span>
              </p>
            </td>
            <td
              class="pt-000006">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">2014/2015</span>
              </p>
            </td>
            <td
              class="pt-000007">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  xml:space="preserve"
                  class="pt-DefaultParagraphFont">Semester </span>
              </p>
            </td>
            <td
              class="pt-000008">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">2</span>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <div
        align="left">
        <table
          dir="ltr"
          class="pt-000003">
          <tr>
            <td
              class="pt-000009">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  xml:space="preserve"
                  class="pt-DefaultParagraphFont">Module Number </span>
              </p>
            </td>
            <td
              class="pt-000010">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">BS3953</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000009">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  xml:space="preserve"
                  class="pt-DefaultParagraphFont">Module Title </span>
              </p>
            </td>
            <td
              colspan="3"
              class="pt-000011">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Business Accounting for Managers</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000009">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
            <td
              colspan="2"
              class="pt-000012">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000009">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Submission  Deadline :</span>
              </p>
            </td>
            <td
              colspan="2"
              class="pt-000012">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">7</span>
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">
                  <sup>th</sup>
                </span>
                <span
                  lang="en-GB"
                  xml:space="preserve"
                  class="pt-DefaultParagraphFont"> June 2015 by 2355 hrs</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000013">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Module Co-ordinator :</span>
              </p>
            </td>
            <td
              colspan="2"
              class="pt-000014">
              <p
                dir="ltr"
                class="pt-Normal-000005">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Shonagh Douglas</span>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Coursework should be submitted via the drop down box provided in CampusMoodle.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000016">PLAGIARISM</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">“Plagiarism is the practice of presenting the thoughts, writings or other output of another or others as original, without acknowledgement of their source(s). All material used to support a piece of work, whether a printed publication or from electronic media, should be appropriately identified and referenced and should not normally be copied directly unless as an acknowledged quote. Text translated into the words of the individual student should in all cases acknowledge the source.”  For further information please see </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000018">
        <a
          href="http://www4.rgu.ac.uk/energy/induction/page.cfm?pge=48530">
          <span
            lang="en-GB"
            class="pt-Hyperlink">http://www4.rgu.ac.uk/energy/induction/page.cfm?pge=48530</span>
        </a>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000018">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000018">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000019">Before submitting assignments, you should check through it to ensure that: </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000018">
        <span
          xml:space="preserve"
          class="pt-000020"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000021">
        <span
          lang="en-GB"
          class="pt-000022"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000019">all material identified as originally from a previously published source has been properly attributed by the inclusion of an appropriate citation in the text;</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000023">
        <span
          xml:space="preserve"
          class="pt-000020"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000021">
        <span
          lang="en-GB"
          class="pt-000022"></span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000019">direct quotations are marked as such (using “quotation marks” at the beginning and end of the selected text), and </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000023">
        <span
          xml:space="preserve"
          class="pt-000020"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000021">
        <span
          lang="en-GB"
          class="pt-000022"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000019">full details of the reference citations have been included in the list of references (in Harvard format).</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000024"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000016">NOTE</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000025"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">The penalty for late submission of a piece of coursework, without valid reason, is that the coursework will be regarded as a non-submission (NS) and one of your assessment opportunities will be lost. There may also a penalty for deviating substantially from the word length or for poor spelling and grammar </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000026">(deduction of up to 1 grade point from final grade for poor spelling and grammar and deduction of 1 grade point for deviations in excess of +/- 10% of the specified word count).</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">  </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Students are required to review their work using the JISC Plagiarism Detection Service.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">If you, for genuine reasons, are unable to meet the hand in date, please note the following procedures:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Undergraduate Students</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017"> – contact Course Leader in advance of coursework deadline and submit an Extenuating Circumstances Claim Form or an Extension request form.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000028">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont">Section A – Financial Analysis </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont">Caled Piping &amp; Supply </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">provide piping equipment, servicing and installation to many operators in the oil and gas industry. The business grew very quickly in the early 1990s with the same family at the helm. However due to retirement and lack of interest from younger family members there is a very different senior management team in place who are keen to ensure the company continues to grow. They are currently reviewing the key objectives of the business and require a fuller understanding of the previous year’s financial performance.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Required:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">Using the financial statements provided in Appendix 1 analyse the figures and produce an appropriate </span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont">Business Report </span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">commenting on what you believe to be the </span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont">strengths and any areas of concern </span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">for this company and their </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">key external stakeholders</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">. As well as commenting on your observations between the figures you should apply </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">relevant financial ratios</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017"> and include the analysis and interpretation in your report. There is a selection of financial ratios for 2010-2012 also included in Appendix 2 to provide you with comparative information.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">The main body of the report should identify the key findings of your analysis but be expressed using appropriate financial language. Please note any calculations should be attached as an appendix to your report and not included in the main body of the text but it would be useful to include a table of results as a summary.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Make appropriate assumptions about the business and your report should include recommendations in respect of suitable improvements for management to consider.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">The grading structure is as follows:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Presentation</span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">10%</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Calculations</span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">30%</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Interpretation &amp; Analysis</span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">50%</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Conclusions &amp; Recommendations</span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">10%</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000032"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000033">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000034">Section A is worth 50% of the overall coursework mark</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          class="pt-DefaultParagraphFont-000035">
          <br />&#x200e;</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Section B – Management Accounting - Theory</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">Having joined Caled Piping &amp; Supply as a recent Business Management graduate you are surprised to learn that the business has not adopted a traditional form of budgeting but tends to react to customer demand and business opportunities. After questioning this in several meetings you have now been asked to prepare a report advising senior management of what would be required should they decide to implement a budget process identifying the advantages that you believe could enhance the business in the future. </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Please ensure you make reference to academic sources in your discussion.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000033">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000034">Section B is worth 30% of the coursework mark</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Section C – Management Accounting - Practice</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Tie-riffic Ties Ltd (Tie-riffic) is a company based in Aberdeen that manufactures silk ties.  Due to the economic downturn, sales are budgeted at 50,000 ties which is substantially less than last year’s record high of 60,000 ties.  The budget has been prepared based on this budgeted sales volume.  Tie-riffic operates a just in time production system and effectively holds no stock.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">Mr Knot, the finance director, would like you to </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">evaluate three proposals</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017"> and </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">report</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017"> on which of the proposals would improve the financial outlook for the coming year.  These proposals are independent of one another and only one can be recommended.  Mr Knot has advised you of the following key information:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000036">
        <span
          lang="en-GB"
          class="pt-000037"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Annual factory capacity – 70,000 ties and the limit cannot be exceeded</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000036">
        <span
          lang="en-GB"
          class="pt-000037"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">If production exceeds 55,000 ties the cost of variable materials reduces by 20% due to bulk buying discounts</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000036">
        <span
          lang="en-GB"
          class="pt-000037"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Variable selling costs vary with sales volume.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000017">You have been provided with the budgeted sales and cost figures for the coming year.  Information about each of the three proposals should be considered in isolation. </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000038">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000039">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000016">Budgeted information for 2015/16:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000038">
        <span
          xml:space="preserve"
          class="pt-000025"> </span>
      </p>
      <div
        align="left">
        <table
          dir="ltr"
          class="pt-000040">
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
            <td
              class="pt-000042">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">£000</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">£000</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Sales</span>
              </p>
            </td>
            <td
              class="pt-000042">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">1,000</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Variable materials cost</span>
              </p>
            </td>
            <td
              class="pt-000042">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">120</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Variable labour cost</span>
              </p>
            </td>
            <td
              class="pt-000042">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">105</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Variable factory overhead</span>
              </p>
            </td>
            <td
              class="pt-000042">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">80</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Fixed factory overhead</span>
              </p>
            </td>
            <td
              class="pt-000045">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">135</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">440</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Variable selling cost</span>
              </p>
            </td>
            <td
              class="pt-000046">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">145</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Fixed selling cost</span>
              </p>
            </td>
            <td
              class="pt-000042">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">60</span>
              </p>
            </td>
            <td
              class="pt-000044">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Fixed administration cost</span>
              </p>
            </td>
            <td
              class="pt-000045">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">135</span>
              </p>
            </td>
            <td
              class="pt-000047">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">340</span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              class="pt-000041">
              <p
                dir="ltr"
                class="pt-Normal-000015">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">Net Profit</span>
              </p>
            </td>
            <td
              class="pt-000046">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  xml:space="preserve"
                  class="pt-000002"> </span>
              </p>
            </td>
            <td
              class="pt-000048">
              <p
                dir="ltr"
                class="pt-Normal-000043">
                <span
                  lang="en-GB"
                  class="pt-DefaultParagraphFont">220</span>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000049">Proposal A:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000050"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">This proposal involves a huge advertising and marketing campaign which will increase fixed selling costs by £100,000.  In addition, variable selling costs will increase by 25%.  However, the result of the campaign would be to increase sales volume by 20% over the budget without altering the sales price per unit.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000049">Proposal B:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000050"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">This is a simpler proposal which involves reducing the sales price by 10% which is expected to bring the sales volume back to last year’s level.  In addition, fixed administration cost will be reduced by £45,000 due to outsourcing the payroll function.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000049">Proposal C:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000050"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">This proposal includes a reduction in the selling price of 40% which should lead to an increase in sales volume by 50%.  It includes a reduction in the fixed selling costs of £40,000 due to a reduced marketing strategy as the selling price reduction is expected to increase the demand without a further campaign.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000051">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Required:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000015">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000052">
        <span
          lang="en-GB"
          class="pt-000053">1.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Calculate the current contribution per unit and breakeven point in units based on the budget for 2015/16.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000043">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">4 marks</span>
      </p>
      <p
        dir="ltr"
        class="pt-000052">
        <span
          lang="en-GB"
          class="pt-000053">2.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">For each proposal A, B and C, calculate:</span>
      </p>
      <p
        dir="ltr"
        class="pt-000036">
        <span
          lang="en-GB"
          class="pt-000037"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">the contribution per unit</span>
      </p>
      <p
        dir="ltr"
        class="pt-000036">
        <span
          lang="en-GB"
          class="pt-000037"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">the effect on profits for the year</span>
      </p>
      <p
        dir="ltr"
        class="pt-000036">
        <span
          lang="en-GB"
          class="pt-000037"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">breakeven point in units and sales revenue</span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
        <span
          class="pt-DefaultParagraphFont-000030">
          <span
            class="pt-000031">&#x00a0;</span>
        </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000043">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">12 marks</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000043">
        <span
          xml:space="preserve"
          class="pt-000002"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000052">
        <span
          lang="en-GB"
          class="pt-000053">3.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000017">Recommend which proposal would be the most suitable for Tie-riffic Ties Ltd. and discuss any non-financial issues that should be considered before any of the proposals could be approved.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000043">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">4 marks</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000001">
        <span
          xml:space="preserve"
          class="pt-000027"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000033">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont">Section C is worth 20% of the coursework mark</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000054">
        <span
          xml:space="preserve"
          class="pt-000029"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          class="pt-DefaultParagraphFont-000056">
          <br />&#x200e;</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000057"> Assessment Requirements</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">1.</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000061">Your coursework should be approximately </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000057">4,500 words overall</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000061"> – the word count excludes any appendices and executive summaries.  The word count should be clearly shown on the front cover of your submission.  In line with RGU policy you are allowed a margin of 10% under or over the word count. Failure to comply with the word count limits will result in a penalty being applied to your grade.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">2.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">You should answer each section separately but combine your final submission into one document with one executive summary, one contents page and one reference list.  The final submission document should be divided into three parts:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000063"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000064"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Section A - Report containing ratio analysis and commentary (50%)</span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000064"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Section B - Report on Budgeting (30%)</span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000064"></span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Section C - Report on consideration of 3 proposals (20%)</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000065">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000066">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Note that you have been asked to write reports. Your work should therefore be presented in report format.  Please look at the general study area for your course where you will find guides to essay and report writing.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">3.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">You may find that you want to put your workings and calculations in Excel and your final answer into Word.  This is acceptable but ensure the Excel pages are marked as appendices.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">4.</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000061">Ensure you use the </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000057">Harvard referencing system</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000061"> – there is help available on the RGU library website.  This referencing would be particularly relevant in Section B. You will also find referencing help in the general study area for your course.  </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">5.</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000061">Please present your work using the Verdana or Arial, size 11 and select either 1.5 or double line </span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000067">spacing.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          class="pt-DefaultParagraphFont-000068">
          <br />&#x200e;</span>
        <span
          xml:space="preserve"
          class="pt-000069"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000070">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000057">Assignment Advice</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          xml:space="preserve"
          class="pt-000071"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">1.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">At this level, you must endeavour to find adequate and appropriate references to submit a good quality discussion.  Wikipedia is not an appropriate basis.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000066">
        <span
          xml:space="preserve"
          class="pt-000063"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000072">2.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Please use the RGU database search facilities such as Business Source Complete, Emerald and ScienceDirect.  These will lead you to up-to-date academic journals. You will find links to these databases on the library website.</span>
        <span
          lang="en-GB"
          xml:space="preserve"
          class="pt-DefaultParagraphFont-000073">  </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">3.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Please ensure you don’t ‘cut and paste’ from other people’s work.  You must do one of two things:</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000063"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000074">
        <span
          lang="en-GB"
          class="pt-000060">a.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Put their ideas into your own words then reference the original source.</span>
      </p>
      <p
        dir="ltr"
        class="pt-000074">
        <span
          lang="en-GB"
          class="pt-000060">b.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Directly quote them using quotation marks (“ “) then reference the original source.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000066">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000066">
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">If you fail to reference the original source, this is plagiarism (taking credit for someone else’s work).  RGU takes a firm stance on this issue and if there is a suspicion of academic misconduct, this will be investigated and serious action taken.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000066">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">4.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">Inadequate or poor referencing will lead to either a zero for presentation plus penalty within the report mark or, if it is a very serious case, an accusation of academic misconduct and subsequent investigation.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000072">5.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">At this level, presentation is expected to be very good so heavy penalties are awarded for unchecked or poorly laid out work as well as for inadequate referencing</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000073">.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000062">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-000059">
        <span
          lang="en-GB"
          class="pt-000060">6.</span>
        <span
          lang="en-GB"
          class="pt-DefaultParagraphFont-000061">When attempting the calculation sections of the assignment, please refer back to the relevant topic material.  Questions within the topic will show you how to undertake and set out the assignment calculations.</span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          xml:space="preserve"
          class="pt-000069"> </span>
      </p>
      <p
        dir="ltr"
        class="pt-Normal-000055">
        <span
          xml:space="preserve"
          class="pt-000058"> </span>
      </p>
    </div>
  </body>
</html>